<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Linux system calls table for several architectures</title>

    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="description" content="Linux syscalls table for several architectures" />
    <meta name="keywords" content="linux system call calls syscalls x86-64 x86_64 aarch64 arm64 arm riscv riscv64" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@haerwu" />
    <meta name="twitter:title" content="Marcin Juszkiewicz"/>
    <meta name="twitter:description" content="Linux kernel system calls table" />
    <meta name="twitter:creator" content="@haerwu" />
    <meta name="twitter:image" content="https://marcin.juszkiewicz.com.pl/files/images/hrw-512.jpg" />

    <meta property="og:title" content="Linux kernel system calls table" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://marcin.juszkiewicz.com.pl/download/tables/syscalls.html" />
    <meta property="og:description" content="Linux kernel system calls table" />
    <meta property="og:locale" content="en_GB" />
    <meta property="og:site_name" content="Marcin Juszkiewicz" />

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.1.min.js"></script>

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/2.3.2/css/buttons.dataTables.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/colreorder/1.5.6/css/colReorder.dataTables.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/fixedheader/3.3.1/css/fixedHeader.dataTables.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/fixedcolumns/4.2.1/css/fixedColumns.dataTables.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/datatables.mark.js/2.0.0/datatables.mark.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/plug-ins/1.10.13/features/mark.js/datatables.mark.min.css"/>

    <script type="text/javascript" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.3.2/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.3.2/js/buttons.colVis.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.3.2/js/buttons.print.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/colreorder/1.5.6/js/dataTables.colReorder.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/fixedheader/3.3.1/js/dataTables.fixedHeader.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/fixedcolumns/4.2.1/js/dataTables.fixedColumns.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/g/mark.js(jquery.mark.min.js)"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/plug-ins/1.12.1/features/mark.js/datatables.mark.js"></script>
    <script type="text/javascript" id="js">
            $(document).ready(function() {
                    $("table").DataTable( {
                            pageLength     : -1,
			    paging         : false,
                            scrollX        : true,
                            scrollCollapse : true,
                            fixedHeader    : true,
                            fixedColumns   : {
                                left: 1
                            },
                            colReorder     : true,
                            mark           : true,
                            dom            : 'Bft',
                            buttons        : [
				{
                                    extend : 'colvis',
                                    text: 'disable architectures',
                                    columns: ':gt(0)'
				}
                            ]
                    });
    });
    </script>
    <style type="text/css">

table.syscalls {
        border: 1px solid #000;
}

table.syscalls th {
        text-align: center;
        padding: 0.5em;
        line-height: 2em;
        color: black;
}

table.syscalls thead {
        border: 1px solid black;
}

table.syscalls td {
        padding: 0.5em;
}

table.syscalls tbody tr.odd td {
        background-color: lightgrey;
}

.legacy, table.syscalls tbody tr.odd td.legacy {
        background-color: lightpink;
}
    </style>
</head>
<body>

<h1>Linux kernel system calls for all architectures</h1>
    <p>
    Linux provides many system calls for userspace. But numbers used for them
    differ between architectures. This page was created to help developers find
    those values.
    </p>
    <p>
    But there is another issue. Some of system calls got dropped during Linux
    development, some got replaced by newer ones. Several architectures got
    added into kernel later and their maintainers decided to not bother with
    supporting obsoleted system calls. They are marked with "-1" value in table
    below.
    </p>

<h2>How to use</h2>
    <p>There are few features you can use:</p>

    <ul>
        <li>search field allows to filter table by syscall name or number</li>
        <li>system call names link to their man pages</li>
        <li>'disable architectures' button allows to disable not needed columns</li>
        <li>clicking on header entries sorts table</li>
        <li>columns can be reordered by dragging column header</li>
    </ul>

<h2>Some notes</h2>

    <ul>
        <li>table is updated at random moments &mdash; usually somewhere after rc1 kernel release</li>
        <li>old data is used for architectures removed from Linux kernel (everything from avr32 to the end of table)</li>
        <li>system calls specific to removed architectures were dropped</li>
        <li>system calls listed in <code>man 2 unimplemented</code> are not listed</li>
        <li>there is now Python module for querying this data: <a href="https://github.com/hrw/python-syscalls">system-calls</a></li>
    </ul>

<h2>Author info</h2>
    <p>
    System calls table is maintained by <a href="https://marcin.juszkiewicz.com.pl/">Marcin Juszkiewicz</a> &mdash; AArch64/Arm developer working at Red Hat as Linaro assignee.
    </p>

<h2>My table pages</h2>
<ul>
	<li><a href="/download/tables/arm-socs.html">AArch64 SoC features table</a></li>
	<li><a href="/download/tables/arm-cpu-cores.html">AArch64 cpu cores information</a></li>
	<li><a href="/download/tables/syscalls.html">Linux kernel system calls for all architectures</a></li>
	<li><a href="/download/tables/bsa-sbsa.html">Arm BSA/SBSA checklist</a></li>
</ul>
<h2>How to help</h2>
    <p>
    Sources used to generate table are available in <a
    href="https://github.com/hrw/syscalls-table">git repository at github</a>.
    Patches are always welcomed.
    </p>
    <p>
    If this table helped you in some project then please leave a comment in
    <a href="https://github.com/hrw/syscalls-table/issues/12">issue on GitHub</a>.
    </p>

<h2>Build info</h2>
    <p>Table generated on <strong>{{ generate_time }} UTC</strong> using data from <strong>{{ syscalls.linux_version }}</strong> kernel source.</p>

<table class="syscalls">
    <thead>
        <tr>
            <th>system call</th>
{% for arch in archs %}
            <th>{{ arch }}</th>
{% endfor %}
        </tr>
    </thead>
    <tbody>
{% for syscall_name in syscall_names %}
    <tr>
        <td><a href='https://www.man7.org/linux/man-pages/man2/{{ syscall_name }}.2.html' title='{{ syscall_name }} manpage' >{{ syscall_name }}</a></td>
    {% for arch in archs %}
        {% if syscalls[syscall_name][arch] == -1  %}
        <td class="legacy">-1</td>
        {% else %}
	<td>{{ syscalls[syscall_name][arch] }}</td>
        {% endif %}
    {% endfor %}
    </tr>
{% endfor %}
    </tbody>
</table>
</body>
</html>
